<h1>All service　managers</h1>
 <div class="row">
   <div class="col-4">
     <h3><%= link_to "⏪", services_path %>Selected service name</h3>
   </div>
   <div class="col-8">
     <h3><%= @service.name %></h3>
   </div>
 </div>
 <table class="table table-striped">
   <thead>
     <tr>
       <th>Service Manager Name</th>
       <th>ID</th>
       <th></th>
     </tr>
   </thead>
   <tbody>
     <% @service_managers.each do |service_manager| %>
       <tr>
         <td><%= service_manager.name %></td>
         <td><%= service_manager.identify %></td> 
         <td class="text-end"><%= link_to 'Edit', edit_service_manager_path(service_manager) %></td>
       </tr>
     <% end %>
   </tbody>
 </table>
 <%= link_to 'Add New Service Manager', new_service_manager_path(:id => @service.id), class: "btn btn-warning" %><%= will_paginate(@service_managers, :param_name => 'service_manager_page', :params => {:tab => 0}, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>