<div class="facilities-edit-pageContainer">
  <div class="facilities-edit-title">Facility content</div>
  <%= form_with(model: @facility) do |form| %>
    <div class="facilities-edit-contentContainer">
        <div class="facilities-edit-inputsContainer">

            <%= form.hidden_field :service_id %>
            <div class="facilities-edit-inputContainer">
                <%= form.label :id, class: "facilities-edit-inputName" %>
                <%= form.text_field :id, class: 'form-control', disabled: 'true' %>          
            </div>

            <div class="facilities-edit-inputContainer">
                <%= form.label :name, class: "facilities-edit-inputName" %>
                <%= form.text_field :name, class: 'form-control' %>
            </div>

            <div class="facilities-edit-inputContainer">
                <%= form.label :latitude, class: "facilities-edit-inputName" %>
                <%= form.text_field :latitude, class: 'form-control', id: 'latlongclicked' %>
            </div>

            <div class="facilities-edit-inputContainer">
                <%= form.label :longitude, class: "facilities-edit-inputName" %>
                <%= form.text_field :longitude, class: 'form-control', id: 'lonlongclicked' %>
            </div>

            <div class="facilities-edit-inputContainer">
                <%= form.label :update_count, class: "facilities-edit-inputName" %>
                <%= form.number_field :update_count, class: 'form-control', disabled: 'true' %>
            </div>
            
            <div class="facilities-edit-inputContainer">
                <%= form.label :created_at, class: "facilities-edit-inputName" %>
                <%= form.text_field :created_at, class: 'form-control', disabled: 'true'  %>
            </div>

            <div class="facilities-edit-inputContainer">
                <%= form.label :created_by, class: "facilities-edit-inputName" %>
                <%= form.text_field :created_by, class: 'form-control', disabled: 'true'  %>
            </div>

            <%= form.hidden_field :created_api_caller %>

            <div class="facilities-edit-inputContainer">
                <%= form.label :updated_at, class: "facilities-edit-inputName" %>
                <%= form.text_field :updated_at, class: 'form-control', disabled: 'true'  %>
            </div>

            <div class="facilities-edit-inputContainer">
                <%= form.label :updated_by, class: "facilities-edit-inputName" %>
                <%= form.text_field :updated_by, class: 'form-control', disabled: 'true'  %>
            </div>
            <%= form.hidden_field :updated_api_caller %>
        </div>
        
        <div class="facilities-edit-map">
            <div id="map"></div>
        </div>

    </div>
    <div class="facilities-edit-footer">
        <%= link_to 'Delete', @facility, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        <div></div>
        <%= form.submit "Update", class: "btn btn-primary facilities-edit-update" %>
        <%= link_to 'Cancel', facilities_path, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

<script
      src="https://maps.googleapis.com/maps/api/js?key=<%= @googleapikey %>&callback=initMap&libraries=&v=weekly"
      async>
    </script>
    <script>
  let map;

  function initMap() {
    map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 34.96044797500092, lng: 138.4044472577484 },
      zoom: 15,
    });
    google.maps.event.addListener(map, 'click', function(event){
      document.getElementById('latlongclicked').value = event.latLng.lat()
      document.getElementById('lonlongclicked').value = event.latLng.lng()
    });
  }
</script>