<div class="serviceManagerSessions-pageContainer">
  <div class="facilities-logo">Fridge Scope</div>

    <%= link_to "log out", service_manager_logout_path, method: :delete, class: "btn btn-light facilities-signOut" %>

    <div class="facilities-title">List of facilities</div>

    <div class="index-searchContainer">
      <div class="index-searchTitle">Search by Facility name</div>
        <%= form_for(:words, url: facility_search_path) do |f| %>
          <% if @content != nil %>
            <%= f.text_field :facility_name, placeholder: "search...", class: 'form-control', value: @content %>
          <% else %>
            <%= f.text_field :facility_name, placeholder: "search...", class: 'form-control' %>
          <% end %>
          <%= link_to "Clear", "#", class: "btn btn-secondary", type: :reset %>
          <%= f.submit "Search", class: "btn btn-primary " %>
        <% end %>
      </div>
      <div class="index-servicesContainer">
        <div class="index-servicesTable">
          <div class="index-serviceRow">
            <div class="index-serviceNameHead">Facility Name</div>
          </div>
          <% @facilities.each do |facility| %>
            <div class="index-serviceRow">
              <div class="index-serviceName"><%= facility.name %></div>
              <%= link_to 'Edit Facility', edit_facility_path(facility), class: "btn btn-light" %>
              <%= link_to 'Edit Facility Manager', facility, class: "btn btn-light" %>
            </div>
          <% end %>  
        </div>
        <div class="facilities-index-servicesFooter">
          <%= link_to 'Add New Service', new_facility_path, class: "btn btn-primary" %>
          <%= will_paginate(@facilities, :param_name => 'facility_page', :params => {:tab => 0}, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
        </div>
      </div>
    </div>
