<div class="facilities-pageContainer">
  <div class="facilities-logo">Fridge Scope</div>
  <button class="signOut btn btn-light">Sign Out</button>
  <div class="facilities-title">List of facility managers</div>
  <div class="facilities-index-serviceContainer">
    <div class="facilities-index-serviceArrow">
    <%= link_to 'â®', facilities_path, class: "btn btn-light" %>
    </div>
    <div class="facilities-index-serviceNameLabel">Selected Facility name</div>
    <div><%= @facility.name %></div>
  </div>
  <div class="facilities-index-managersContainer">
    <div class="facilities-index-managersTable">
      <div class="facilities-index-managerRow">
        <div class="facilities-index-managerNameHead">Facility Manager Name</div>
        <div class="facilities-index-managerIDHead">ID</div>
      </div>
      <% @facility.facility_managers.each do | facility_manager | %>
        <div class="facilities-index-managerRow">
          <div class="facilities-index-managerName"><%= facility_manager.name %></div>
          <div class="facilities-index-managerID"><%= facility_manager.identify %> </div>
          <%= link_to 'Edit', edit_facility_manager_path(facility_manager), class: "btn btn-light" %>
        </div>
      <% end %>
    </div>
    <div class="facilities-index-servicesFooter">
      <%= link_to 'Add New Facility Manager', new_facility_manager_path, class: "btn btn-primary" %>
      <button type="button" class="btn btn-secondary">
        &lt;&lt;Prev
      </button>
      <button type="button" class="btn btn-secondary">
        &gt;&gt;Next
      </button>
    </div>
  </div>
</div>