<div class="row">
    <div class="col-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(url: facility_manager_login_path, scope: :facility_manager_session, local: true) do |f| %>

            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            
            <%= f.label :remember_me, class: "checkbox inline" do %> <%= f.check_box :remember_me %>
                <span>Remember me on this computer</span>
            <% end %>
            
            <%= f.submit "Log in", class: "btn btn-primary" %> 
        <% end %>
        <p>New facility_manager? <%= link_to "Sign up now!", facility_manager_signup_path %></p> 
    </div>
</div>
