<div class="edit-pageContainer">
  <div class="edit-title">Service manager content</div>
  <%= form_with(model: @service_manager, local: true) do |f| %> 
    <%= f.hidden_field :service_id, value: @service.id %>
    <div class="edit-inputContainer">
      <div class="edit-inputName">service manager ID</div>
      
      <%= f.text_field :id, class: 'form-control', disabled: 'true' %>
    </div>
    <div class="edit-inputContainer">
      <div class="edit-inputName">service manager name</div>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="edit-inputContainer">
      <div class="edit-inputName">Identify</div>
      <%= f.text_field :identify, class: 'form-control' %>
    </div>
    <div class="edit-inputContainer">
      <div class="edit-inputName">password</div>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <div class="edit-inputContainer">
      <div class="edit-inputName">update count</div>
      <%= f.text_field :update_count, class: 'form-control', disabled: 'true' %>
    </div>
    <div class="edit-inputContainer">
      <div class="edit-inputName">created at</div>
      <%= f.text_field :created_at, class: 'form-control', disabled: 'true' %>
    </div>
    <div class="edit-inputContainer">
      <div class="edit-inputName">created by</div>
      <%= f.text_field :created_by, class: 'form-control', disabled: 'true' %>
    </div>
    <div class="edit-inputContainer">
      <div class="edit-inputName">updated at</div>
      <%= f.text_field :updated_at, class: 'form-control', disabled: 'true' %>
    </div>
    <div class="edit-inputContainer">
      <div class="edit-inputName">updated by</div>
      <%= f.text_field :updated_by, class: 'form-control', disabled: 'true' %>
    </div>
    <div class="edit-footer">
      
      <%= link_to 'Delete', @service_manager, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      <div></div>
      
      <%= f.submit "Update", class: "btn btn-primary edit-update" %> 
      
      <%= link_to 'Cancel', @service_manager.service, class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>